bin
obj
packages
.vs
.vscode
*.boltdata

*.suo
*.sdf
*.userprefs
*.user
*.nupkg
*.t4properties
*.DS_Store
*.sln.ide
*.metaproj
*.tmp
*.cache

.nuget
*.lock.json
*.nuget.props
*.nuget.targets

log.txt
NuGet.exe
/NULL
/msbuild.log
*.binlog
/src/OBMCatering.Documentacion/Help
